#header {
  display: grid;
  grid-template:
    "logo _ _ music"
    "hud hud hud hud"
    / 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
}

h1 {
  grid-area: logo;
  font-size: 1em;
  line-height: 1.2;
  position: relative;
}

h1:after {
  content: "";
  position: absolute;
  top: 0.4em;
  right: -0.4em;
  width: 50%;
  height: 50%;
  background-image: url("/src/assets/images/pokeall.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(-10deg);
  /* outline: 2px solid blue; */
}

.header-music {
  grid-area: music;
  display: flex;
  justify-content: flex-end;
}

.header-music button {
  transform: scale(0.7);
}

.header-stats {
  display: flex;
  gap: 1rem;
  grid-area: hud;
  transform: scale(0.7);
}

.timer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.timer span {
  font-size: 1.5rem;
}

.lives {
  display: flex;
  gap: 0.5rem;
}

.animate-spin {
  animation: spin 1s forwards linear infinite;
}

@media (min-width: 580px) {
  h1:after {
    top: 0.6em;
    right: -0.5em;
  }

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-stats {
    transform: scale(1);
  }
}

@media (min-width: 1024px) {
  #header {
    width: 80%;
    margin-inline: auto;
    /* outline: 2px solid red; */
  }

  h1 {
    font-size: 1.5em;
    line-height: 1.2;
  }

  .header-music button {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
