#header {
  display: grid;
  grid-template:
    "logo _ _ menu"
    "hud hud hud hud"
    / 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  outline: 2px solid blue;
}

h1 {
  grid-area: logo;
  font-size:1em;
  line-height: 1.2;
  outline: 8px double red;
}

.header-menu {
  grid-area: menu;
  display: flex;
  justify-content: flex-end;
}

.header-stats {
  display: flex;
  gap: 1rem;  
  grid-area: hud;
  transform: scale(0.7);
}

.timer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.timer span {
  font-size: 1.5rem;
}

.lives {
  display: flex;
  gap: 0.5rem;
}

.animate-spin {
  animation: spin 1s forwards linear infinite;
}

@media (min-width: 580px) {
  #header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-stats {
  transform: scale(1);
}
}

@media (min-width: 1024px) {
  h1 {
    font-size: 1.5em;
    line-height: 1.2;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}