#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.animate-spin {
    animation: spin 1s forwards linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}