#main {
    height: 100%;
    display: flex;
    justify-content: center;
    /* outline: 2px solid red; */
    padding-top: 2rem;
    padding-bottom: 3rem;
}

@media (min-width: 580px) {
    #main {
        padding: 0;
    }
}